.big-image-section {
  padding: 60px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}
.big-image-section .text-block_max-width {
  max-width: 550px;
  text-align: center;
}
.big-image-section .image-block_max-width {
  max-width: 1200px;
}
.big-image-section .image-block_max-width img {
  max-width: 100%;
  border-radius: 10px;
}