.section-header {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 46px;
  color: #151515;
  margin-bottom: 40px;
}

.second-section {
  padding: 60px 15px;
}

.advantages-wrapper {
  display: flex;
  column-gap: 20px;
}
.advantages-wrapper .advantages {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  color: #1C1C1C;
  width: 100%;
}
.advantages-wrapper .advantages .advantages__image img {
  border-radius: 8px;
  max-width: 100%;
}
.advantages-wrapper .advantages .advantages__header {
  font-size: 30px;
  line-height: 36px;
  color: #333333;
}
.advantages-wrapper .advantages .advantages__header .yellow-background {
  background: #FED629;
}
.advantages-wrapper .advantages .advantages__paragraph {
  font-size: 14px;
  line-height: 21px;
}
.advantages-wrapper .advantages .advantages__paragraph .orange-text {
  color: #FE7629;
}
.advantages-wrapper .advantages .advantages__list {
  font-size: 16px;
  line-height: 28px;
  margin-left: 20px;
}