.sixth-section {
  padding: 60px 15px;
}
.sixth-section .advantages-wrapper_columns {
  flex-direction: column;
}
.sixth-section .advantages-wrapper_columns .advantages {
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
}
.sixth-section .advantages-wrapper_columns .advantages .advantages__text {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.sixth-section .advantages-wrapper_columns .advantages .advantages__text .advantages__list-wrapper {
  display: flex;
}
.sixth-section .advantages-wrapper_columns .advantages .advantages__text .advantages__list-wrapper .advantages__list {
  width: 50%;
}
.sixth-section .advantages-wrapper_columns .advantages .advantages__image img {
  max-height: 300px;
  border-radius: 10px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .advantages-wrapper {
    row-gap: 25px;
  }
  .advantages-wrapper .advantages {
    flex-direction: column !important;
  }
  .advantages-wrapper .advantages .advantages__list-wrapper {
    flex-direction: column !important;
  }
  .advantages-wrapper .advantages_reverse {
    flex-direction: column-reverse !important;
  }
}