.big-image-section{
    padding: 60px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;

    .text-block_max-width{
        max-width: 550px;
        text-align: center;
    }

    .image-block_max-width{
        max-width: 1200px;

        img{
            max-width: 100%;
            border-radius: 10px;
        }
    }
}