.how-to-use-section{
    padding: 60px 15px;

    .steps-wrapper{
        padding: 40px;
        background: linear-gradient(119.52deg, #FADCE1 54.63%, #FADCF2 80.78%);
        border-radius: 12px;

        .step-wrapper{
            display: flex;
            align-items: center;
            column-gap: 16px;

            .step{
                max-width: 750px;
                padding: 25px 0;
    
                .step__item{
                    display: inline-block;
                    padding: 8px;
                    text-transform: uppercase;
                    border-radius: 20px;
                    color: #151515;
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 16px;
                }
    
                .step__header{
                    font-size: 30px;
                    line-height: 54px;
                    color: #151515;
                    margin-bottom: 16px;
                }
    
                .step__text{
                    font-size: 14px;
                    line-height: 21px;
                    color:#4F4F4F;
                }
            }

        }

        .line{
            border-bottom: 1px dashed #DDC4B8;
        }
    }
}

@media(max-width: 768px){
    .steps-wrapper{
        
        .step-wrapper{
            margin-top: 20px;
            flex-direction: column;
            justify-content: center;

            .step{

                .step__item{
                    font-size: 14px !important;
                }
    
                .step__header{
                    font-size: 24px !important;
                    line-height: 32px !important;
                }
    
                .step__text{
                    font-size: 14px !important;
                    line-height: 21px !important;
                }
            }
        }
    }
}