*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.gray-line{
    display: block;
    height: 1px;
    background-color: #E2E6EC;
}

body{
    font-family: 'Raleway';
}

.section-header{
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 46px;
    color: #151515;
    margin-bottom: 40px;
    text-transform: uppercase;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../Fonts/HelveticaNeue.ttf);
}

@import "../slick/slick.css";

@import "slider-section.scss";
/* 1 */
@import "image-with-text-section.scss";
/* 2 */
@import "three-vertical-blocks-section.scss";
/* 3 */
@import "horizontal-img-with-text-blocks-section.scss";
/* 4 */
@import "text-with-video-section.scss";
/* 5 */
@import "big-image-section.scss";
/* 6 */
@import "two-horizontal-blocks-section.scss";
/* header */
@import "header.scss";
@import "how-to-use.scss";
@import "guarantee.scss";
@import "footer.scss";