*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.gray-line{
    display: block;
    height: 1px;
    background-color: #E2E6EC;
}

body{
    font-family: 'Helvetica Neue';
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../Fonts/HelveticaNeue.ttf);
}

@import "first-section.scss";
@import "second-section.scss";