.three-vertical-blocks-section{
    padding: 60px 15px;
}

.advantages-wrapper{
    display: flex;
    column-gap: 20px;

    .advantages{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        color: #1C1C1C;
        width: 100%;

        .advantages__image{
            img{
                display: block;
                margin: 0 auto;
                border-radius: 8px;
                max-width: 100%;
            }
        }

        .advantages__header{
            font-size: 30px;
            line-height: 36px;
            color: #333333;

            /* .yellow-background{
                background: #FED629;
            } */
        }

        .advantages__paragraph{
            font-size: 14px;
            line-height: 21px;

            .orange-text{
                color: #FE7629;
            }
        }

        .advantages__list{
            font-size: 16px;
            line-height: 28px;
            margin-left: 20px;
        }
    }
}

@media(max-width: 768px){

    .section-header{
        font-size: 24px;
        line-height: 30px;
    }

    .advantages-wrapper{
        flex-direction: column;

        .advantages{

            .advantages__header{
                font-size: 26px !important;
                line-height: 30px !important;
            }
    
            .advantages__paragraph{
                font-size: 14px !important;
                line-height: 21px !important;
            }
    
            .advantages__list{
                font-size: 14px !important;
                line-height: 26px !important;
            }
        }
    }
}