.two-horizontal-blocks-section{
    padding: 60px 15px;

    .advantages-wrapper_columns{
        flex-direction: column;

        .advantages{
            flex-direction: row;
            align-items: center;
            column-gap: 50px;

            .advantages__text{
                display: flex;
                flex-direction: column;
                row-gap: 32px;
                width: 50%;

                .advantages__list-wrapper{
                    display: flex;

                    .advantages__list{
                        width: 50%;
                    }
                }
            }

            .advantages__image{
                width: 50%;
                
                img{
                    max-height: 300px;
                    border-radius: 10px;
                    width: 100%;
                }
            }
        }


    }
}

@media (max-width: 768px){
    .advantages-wrapper{
        row-gap: 25px;

        .advantages{
            flex-direction: column !important;

            .advantages__text{
                width: 100% !important;
            }

            .advantages__image{
                width: 100% !important;
            }
    
            .advantages__list-wrapper{
                flex-direction: column !important;
            }
        }
    
        .advantages_reverse{
            flex-direction: column-reverse !important;
        }
    }
}